/Lib/AFC-doc/AFC_AtExit.html
/Lib/AFC-doc/AFC_EntryPoint.html
/Lib/AFC-doc/CControl.html
/Lib/AFC-doc/CCtrlActiveX.html
/Lib/AFC-doc/CCtrlButton.html
/Lib/AFC-doc/CCtrlCalendar.html
/Lib/AFC-doc/CCtrlCheckBox.html
/Lib/AFC-doc/CCtrlComboBox.html
/Lib/AFC-doc/CCtrlDateTime.html
/Lib/AFC-doc/CCtrlDropDown.html
/Lib/AFC-doc/CCtrlEdit.html
/Lib/AFC-doc/CCtrlGroupBox.html
/Lib/AFC-doc/CCtrlHotkey.html
/Lib/AFC-doc/CCtrlImage.html
/Lib/AFC-doc/CCtrlLabel.html
/Lib/AFC-doc/CCtrlLink.html
/Lib/AFC-doc/CCtrlListBox.html
/Lib/AFC-doc/CCtrlListView.html
/Lib/AFC-doc/CCtrlProgress.html
/Lib/AFC-doc/CCtrlRadio.html
/Lib/AFC-doc/CCtrlSlider.html
/Lib/AFC-doc/CCtrlStatusBar.html
/Lib/AFC-doc/CCtrlTab.html
/Lib/AFC-doc/CCtrlTreeView.html
/Lib/AFC-doc/CCtrlUpDown.html
/Lib/AFC-doc/CImageList.html
/Lib/AFC-doc/CMsgDispatch.html
/Lib/AFC-doc/COwnedWindow.html
/Lib/AFC-doc/CPropImpl.html
/Lib/AFC-doc/CWindow.html
/Lib/AFC-doc/DefaultBase.html
/Lib/AFC-doc/EntryPoints.html
/Lib/AFC-doc/EventHandlers.html
/Lib/AFC-doc/default.css
/Lib/AFC-doc/index.html
/Lib/ActiveScript.ahk.bak
/Lib/JsRT.ahk.bak

Personal Utility Scripts/Personal Hotstring.ahk
Personal Utility Scripts/Personal Hotstring.ahk.bak
/Not Mine/ContextSensitiveHelp.ahk
